.swiper {
  width: calc(100% - 80px);
  flex-grow: 3;
  flex-shrink: 0;
  padding-top: 20px;
  margin-bottom: 86px;
  margin-left: 80px;

  &-slide {
    width: auto;
    margin-right: 80px;
  }

  &-pagination {
    visibility: hidden;
  }

  &-button {
    &-prev,
    &-next {
      width: 40px;
      height: 40px;

      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 50%;

      background-image: url('../../shared/assets/button.svg');
      background-size: 30% 30%;
      background-position: center;
      background-repeat: no-repeat;

      box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1);
    }

    &-prev {
      transform: rotate(-180deg);
      left: 40px;
    }

    &-next {
      right: 40px;
    }

    &-prev.swiper-button-disabled,
    &-next.swiper-button-disabled {
      opacity: 0;
    }

    &-next::after,
    &-prev::after {
      content: '';
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .swiper {
    margin-bottom: 32px;
    margin-left: 20px;

    border-top: 1px solid #c7cdd9;

    &-slide {
      margin-right: 25px;
    }

    &-pagination {
      visibility: visible;
    }

    &-slide-next {
      opacity: 0.4;
    }

    &-button {
      &-next,
      &-prev {
        visibility: hidden;
      }
    }
  }
}
