.swiper {
  width: 100%;
  flex-grow: 3;
  flex-shrink: 0;

  &-wrapper {
    margin-left: 80px;
  }

  &-slide {
    width: auto;
    margin-right: 80px;
  }
  
  &-pagination {
    visibility: hidden;
  }

  &-button {
    &-prev, &-next{
      width: 40px;
      height: 40px;
    
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 50%;
    
      background-size: 12px 12px;
      background-position: center;
      background-repeat: no-repeat;

      box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.10);
    }
  
    &-prev {
      background-image: url('../../shared/assets/prev.svg');
      left: 40px;
    }
  
    &-next {
      background-image: url('../../shared/assets/next.svg');
      right: 40px;
    }
  
    &-prev.swiper-button-disabled,
    &-next.swiper-button-disabled {
      opacity: 0;
    }
  
    &-next::after, &-prev::after {
      content: "";
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .swiper {
    &-wrapper {
      margin-left: 20px;
    }
    
    &-slide {
      margin-right: 25px;
    }

    &-pagination {
      visibility: visible;
    }

    &-slide-next {
      opacity: .4;
    }

    &-button {
      &-next,
      &-prev {
        visibility: hidden;
      }
    }
  }
}