@mixin counter-image {
  background-image: url('../../assets/counter-button.svg');
  background-size: 30% 30%;
  background-position: center;
  background-repeat: no-repeat;
}

.button-template {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(#42567a, 0.5);
  border-radius: 50%;

  &_type {
    &_next {
      @include counter-image;
      transform: rotate(-180deg);
    }

    &_prev {
      @include counter-image;
    }

    &_text {
      color: #42567a;
      font-family: 'PTSans', Arial, Helvetica, sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}
